body {
  margin: 0;
}

.top-pane{
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
}
.navbar{
  display: inline;
  background-color:#222f3e;
}
.title{
  text-align:center;
  color: white;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: large;
}
.fullpage{
  background-color: #333;
}
.file-explore{
  display: inline-flex;
  text-decoration: none;
  color: white;
  padding: 15px 150px;
  margin-right: 8px;
}
.file-explore:hover{
  background-color: red;
}
.login{
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  margin-right: 8px;
}
.active {
  background-color: #04AA6D;
}
ul.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.footer li a:hover:not(.active) {
  background-color:red;
  text-shadow: 2px 2px 5px #04AA6D;
}

.active-1 {
  background-color:green;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
}
/* for minimize */
li {
  float: right;
}
li a.bar-down, .dropbtn-editor {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
}

li a.bar-down:hover, .dropdown-editor:hover .dropbtn-editor {
  background-color: black;
}

li.dropdown-editor {
  display: inline-block;
}

.dropdown-content-editor {
  display: none;
  position: absolute;  
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-editor a {
  color: black;
  padding: 5px 3px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-editor a:hover {
  padding: 10px;
  background-color: #f1f1f1;
}
.dropdown-editor:hover .dropdown-content-editor {
  display: inline;
}




.editor-container {
  flex-grow: 1;
  flex-basis: 0; 
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}
.settings-btn {
  margin: 0 8px 0 0;
  background-color: hsl(225, 6%, 25%);
  border: none;
  color: white;
  cursor: pointer;
}

.down-arrow-btn {
  background-color: hsl(225, 6%, 25%);
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 280px; 
}

.editor-title {
  display: flex;
  align-items: center;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 10px 10px 10px 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}
